@model IEnumerable<RESTDemo.Models.StockQuote>

<div id="stockList">
    <table id="stockTable">
        <tr>
            <td>Symbol</td>
            <td>Last Price</td>
            <td>Change</td>
            <td>Change Percent</td>
            <td>Volume</td>
            <td class="last-column"></td>
        </tr>
        <tbody id="stocks">
        @foreach (var item in Model)
        {
            <tr class="data-row">
                <td class="stock-symbol">@item.Symbol</td>
                <td>@item.LastPrice</td>
                <td class="change">@item.Change</td>
                <td class="change">@item.ChangePercent</td>
                <td>@item.Volume</td>
                <td class="last-column">
                    <span class="delete-me" data-action="@Url.Action("Remove")" data-stock-target="#stockTable" data-stock-method="delete"> </span>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>