@model IEnumerable<RESTDemo.Models.StockQuote>

@foreach (var item in Model)
{
    string cssClass;
    if (item.Change > 0)
    {
        cssClass = "num-pos";
    }
    else if (item.Change < 0)
    {
        cssClass = "num-neg";
    }
    else
    {
        cssClass = "num-zero";
    }


    <tr class="data-row">
        <td class="stock-symbol">@item.Symbol</td>
        <td>@item.LastPrice</td>
        <td class="@cssClass">@Html.DisplayFor(modelItem => item.Change)</td>
        <td class="@cssClass">@Html.DisplayFor(modelItem => item.ChangePercent)</td>
        <td>@item.Volume</td>
        <td class="last-column">
            <span class="delete-me" data-action="@Url.Action("Remove")" data-stock-method="delete"> </span>
        </td>
    </tr>
}